<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <% if (errorMessage) { %>
                <div class="box has-background-danger">
                    <%= errorMessage %>
                </div>
                <% } %>

                    <main>
                        <form class="product-form mt-6"
                            action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>"
                            method="POST">
                            <div class="field">
                                <label class="label" for="title">Title</label>
                                <div class="control">
                                    <input
                                        class="input <%= validationErrors.find(e => e.param === 'title') ? 'is-danger' : 'is-success' %>"
                                        type="text" name="title" id="title"
                                        value="<% if (editing || hasError) { %><%= product.title %><% } %>">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label" for="imageUrl">Image URL</label>
                                <input
                                    class="input <%= validationErrors.find(e => e.param === 'imageUrl') ? 'is-danger' : 'is-success' %>"
                                    type="text" name="imageUrl" id="imageUrl"
                                    value="<% if (editing || hasError) { %><%= product.imageUrl %><% } %>">
                            </div>
                            <div class="field">
                                <label class="label" for="price">Price</label>
                                <input
                                    class="input <%= validationErrors.find(e => e.param === 'price') ? 'is-danger' : 'is-success' %>"
                                    type="number" name="price" id="price" step="0.01"
                                    value="<% if (editing || hasError) { %><%= product.price %><% } %>">
                            </div>
                            <div class="field">
                                <label class="label" for="description">Description</label>
                                <textarea
                                    class="textarea <%= validationErrors.find(e => e.param === 'description') ? 'is-danger' : 'is-success' %>"
                                    name="description" id="description"
                                    rows="5"><% if (editing || hasError) { %><%= product.description %><% } %></textarea>
                            </div>
                            <div class="field">
                                <div class="control">

                                    

                                    <input type="checkbox"
                                        class="checkbox <%= validationErrors.find(e => e.param === 'isfeatured') ? 'is-danger' : 'is-success' %>"
                                        name="isfeatured" id="isfeatured" rows="5" <% if (editing || hasError) { %>
                                    <%= (product.isFeatured) ? "checked" : "" %>
                                        <% } %>></input>
                                        <label class="checkbox mb-3" for="isfeatured"><b>Is Featured Product</b></label>
                                </div>

                            </div>
                            <% if (editing) { %>
                                <input type="hidden" value="<%= product._id %>" name="productId">
                                <% } %>
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button class="button is-success" type="submit">
                                        <% if (editing) { %>Update Product<% } else { %>Add Product<% } %>
                                    </button>
                        </form>
                    </main>
                    <%- include('../includes/end.ejs') %>