<nav class="navbar is-fixed-top is-primary has-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/img/shop.png" width="40" height="290">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasic" class="navbar-menu">
        <div class="navbar-item">
            <a class="navbar-item <%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
            <a class="navbar-item <%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
            <a class="navbar-item <%= path === '/pagination' ? 'active' : '' %>" href="/pagination">pagination</a>
            <a class="navbar-item <%= path === '/pokemon' ? 'active' : '' %>" href="/pokemon">pokemon</a>
            <% if (isAuthenticated) { %>
                <a class="navbar-item <%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
                <a class="navbar-item <%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
                <% } %>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <% if (isAuthenticated) { %>
                    <a class="navbar-item <%= path === '/admin/add-product' ? 'active' : '' %>"
                        href="/admin/add-product">Add
                        Product
                    </a>
                    <a class=" navbar-item <%= path === '/admin/products' ? 'active' : '' %>"
                        href="/admin/products">
                        <%= (isAdmin) ? "Admin Products" : username + "'s Products" %>
                    </a>
                    <form class=" navbar-tem" action="/logout" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="button navbar-item is-primary">Logout</button> </form>
                    <% } else { %>
                        <a class=" navbar-item <%= path === '/login' ? 'active' : '' %>" href="/login">login </a>
                        <a class=" navbar-item <%= path === '/signup' ? 'active' : '' %>" href="/signup">signup 
                        
                        </a>
                        <% } %>
            </div>
        </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });
</script>