<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body class="has-background-grey-light">
        <%- include('../includes/navigation.ejs') %>
            <section class="hero is-medium  paralax-logo">
                <div class="hero-body bg-translucent">
                    <div class="container ">
                        <h1 class="title is-size-1 has-text-white">
                            "The Shop"
                        </h1>
                        <h2 class="subtitle has-text-white">
                            The place to get all that random stuff that you just don't need!
                        </h2>
                    </div>
                </div>
            </section>
            <div
                class="has-text-centered has-background-info-light has-text-white box is-size-1 is-not-rounded has-shadow">
                <h2 class="is-title  ">Our Products</h2>
            </div>
            <div class="container">
                <div class="section">

                    <main class="is-primary">
                        <div class="flex-box">
                            <% if (prods.length> 0) { %>
                                <div class="flex-box">
                                    <% for (let product of prods) { %>

                                        <div class="card product-item card-parent">
                                            <header class="card-header">
                                                <h1 class="card-header-title is-centered">
                                                    <%= product.title %>
                                                </h1>
                                            </header>
                                            <div class="image is-5by4">
                                                <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                                            </div>
                                            <div class="card-content">
                                                <h2 class="product-price">Price: $<%= product.price %>
                                                </h2>
                                                <hr>
                                                <p class="product-description">
                                                    <%= product.description %>
                                                </p>
                                            </div>
                                            <div class=" card-footer px-1 py-1 card-flex-footer flex-spaced">
                                                <a href="/products/<%= product._id %>"
                                                    class="button is-info pl-1 is-centered">Details</a>
                                                <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                                            </div>

                                        </div>

                                        <% } %>
                                </div>
                        </div>
                        <% } else { %>
                            <h1>No Products Found!</h1>
                            <% } %>
                    </main>
                </div>
            </div>
            <%- include('../includes/end.ejs') %>