<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <section>
                    <section class="hero is-info">
                        <div class="hero-body">
                            <div class="columns">
                                <div class="column">
                                    <p class="title">
                                        <%= product.title %>
                                    </p>
                                    <p class="subtitle">
                                       Price: $<%= product.price %>
                                    </p>
                                    <%- include('../includes/add-to-cart.ejs') %>
                                </div>
                                <div class="column">
                                    <p>
                                       Description: <%= product.description %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div>
                        <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                    </div>

                </section>

            </main>
            <%- include('../includes/end.ejs') %>